In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('C:/Users/Kavya/Downloads/churn_modelling.csv')
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

# cleaning data

In [3]:
df.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [4]:
df.Gender.unique()

array(['Female', 'Male'], dtype=object)

In [5]:
df.Gender.value_counts()

Male      5457
Female    4543
Name: Gender, dtype: int64

In [6]:
df.Geography.unique()

array(['France', 'Spain', 'Germany'], dtype=object)

In [7]:
df.Geography.value_counts()

France     5014
Germany    2509
Spain      2477
Name: Geography, dtype: int64

# categorical values

In [8]:
a = pd.get_dummies(df.Gender,drop_first=True)
b = pd.get_dummies(df.Geography,drop_first=True)
print(b)

      Germany  Spain
0           0      0
1           0      1
2           0      0
3           0      0
4           0      1
...       ...    ...
9995        0      0
9996        0      0
9997        0      0
9998        1      0
9999        0      0

[10000 rows x 2 columns]

In [9]:
df = pd.concat([df,a,b],axis=1)

In [10]:
df = df.drop(['Geography','Gender','RowNumber','CustomerId','Surname'],axis=1)
df.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Male,Germany,Spain
0,619,42,2,0.00,1,1,1,101348.88,1,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,0,1
2,502,42,8,159660.80,3,1,0,113931.57,1,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,0,1

# feature selection

In [11]:
X = df.drop(['Exited'],axis=1)
y = df.Exited

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [13]:
X_train.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Male,Germany,Spain
8371,813,29,5,106059.40,1,0,0,187976.88,0,1,0
5027,681,37,8,73179.34,2,1,1,25292.53,1,1,0
9234,642,49,4,120688.61,1,1,0,24770.22,1,1,0
3944,612,31,8,117989.76,1,1,1,54129.86,0,0,0
6862,586,33,9,0.00,1,1,0,6975.02,1,0,0

In [14]:
y_train.head()

8371    1
5027    0
9234    1
3944    0
6862    0
Name: Exited, dtype: int64

In [15]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

# ANN

In [16]:
import keras
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Dropout
from keras.layers import ReLU,LeakyReLU,PReLU,ELU

In [17]:
ann = Sequential()

In [18]:
X_train.shape

(6700, 11)

In [22]:
ann.add(Dense(units=9,kernel_initializer='he_uniform',activation='relu',input_dim=11))
ann.add(Dense(units=6,kernel_initializer='he_uniform',activation='relu'))
ann.add(Dense(units=1,kernel_initializer='glorot_uniform',activation='sigmoid'))

In [23]:
ann.compile(optimizer='Adamax',loss='binary_crossentropy',metrics=['accuracy'])

In [24]:
reg = ann.fit(X_train,y_train,validation_split=0.0,batch_size=10,epochs=100)

Epoch 1/100
670/670 [==============================] - 1s 542us/step - loss: 0.5875 - accuracy: 0.7433
Epoch 2/100
670/670 [==============================] - 0s 520us/step - loss: 0.3847 - accuracy: 0.8582
Epoch 3/100
670/670 [==============================] - 0s 527us/step - loss: 0.3557 - accuracy: 0.8617
Epoch 4/100
670/670 [==============================] - 0s 543us/step - loss: 0.3520 - accuracy: 0.8608
Epoch 5/100
670/670 [==============================] - 0s 502us/step - loss: 0.3461 - accuracy: 0.8573
Epoch 6/100
670/670 [==============================] - 0s 552us/step - loss: 0.3572 - accuracy: 0.8523
Epoch 7/100
670/670 [==============================] - 0s 538us/step - loss: 0.3340 - accuracy: 0.8677
Epoch 8/100
670/670 [==============================] - 0s 577us/step - loss: 0.3411 - accuracy: 0.8612
Epoch 9/100
670/670 [==============================] - 0s 541us/step - loss: 0.3480 - accuracy: 0.8577
Epoch 10/100
670/670 [==============================] - 0s 542us/step - loss: 0.3455 - accuracy: 0.8561
Epoch 11/100
670/670 [==============================] - 0s 516us/step - loss: 0.3370 - accuracy: 0.8610
Epoch 12/100
670/670 [==============================] - 0s 543us/step - loss: 0.3301 - accuracy: 0.8619
Epoch 13/100
670/670 [==============================] - 0s 504us/step - loss: 0.3430 - accuracy: 0.8657
Epoch 14/100
670/670 [==============================] - 0s 527us/step - loss: 0.3359 - accuracy: 0.8628
Epoch 15/100
670/670 [==============================] - 0s 552us/step - loss: 0.3311 - accuracy: 0.8681
Epoch 16/100
670/670 [==============================] - 0s 564us/step - loss: 0.3272 - accuracy: 0.8634
Epoch 17/100
670/670 [==============================] - 0s 551us/step - loss: 0.3439 - accuracy: 0.8549
Epoch 18/100
670/670 [==============================] - 0s 544us/step - loss: 0.3435 - accuracy: 0.8570
Epoch 19/100
670/670 [==============================] - 0s 556us/step - loss: 0.3257 - accuracy: 0.8617
Epoch 20/100
670/670 [==============================] - 0s 550us/step - loss: 0.3408 - accuracy: 0.8631
Epoch 21/100
670/670 [==============================] - 0s 551us/step - loss: 0.3530 - accuracy: 0.8518
Epoch 22/100
670/670 [==============================] - 0s 575us/step - loss: 0.3384 - accuracy: 0.8608
Epoch 23/100
670/670 [==============================] - 0s 590us/step - loss: 0.3412 - accuracy: 0.8554
Epoch 24/100
670/670 [==============================] - 0s 588us/step - loss: 0.3447 - accuracy: 0.8588
Epoch 25/100
670/670 [==============================] - 0s 623us/step - loss: 0.3448 - accuracy: 0.8591
Epoch 26/100
670/670 [==============================] - 0s 602us/step - loss: 0.3332 - accuracy: 0.8635
Epoch 27/100
670/670 [==============================] - 0s 620us/step - loss: 0.3482 - accuracy: 0.8505
Epoch 28/100
670/670 [==============================] - 0s 680us/step - loss: 0.3470 - accuracy: 0.8546
Epoch 29/100
670/670 [==============================] - 0s 602us/step - loss: 0.3528 - accuracy: 0.8532
Epoch 30/100
670/670 [==============================] - 0s 541us/step - loss: 0.3380 - accuracy: 0.8641
Epoch 31/100
670/670 [==============================] - 0s 543us/step - loss: 0.3381 - accuracy: 0.8614
Epoch 32/100
670/670 [==============================] - 0s 534us/step - loss: 0.3345 - accuracy: 0.8633
Epoch 33/100
670/670 [==============================] - 0s 537us/step - loss: 0.3429 - accuracy: 0.8563
Epoch 34/100
670/670 [==============================] - 0s 555us/step - loss: 0.3141 - accuracy: 0.87290s - loss: 0.2980 - accuracy
Epoch 35/100
670/670 [==============================] - 0s 527us/step - loss: 0.3335 - accuracy: 0.8629
Epoch 36/100
670/670 [==============================] - 0s 552us/step - loss: 0.3345 - accuracy: 0.8594
Epoch 37/100
670/670 [==============================] - 0s 563us/step - loss: 0.3312 - accuracy: 0.8650
Epoch 38/100
670/670 [==============================] - 0s 554us/step - loss: 0.3206 - accuracy: 0.8681
Epoch 39/100
670/670 [==============================] - 0s 548us/step - loss: 0.3420 - accuracy: 0.8597
Epoch 40/100
670/670 [==============================] - 0s 551us/step - loss: 0.3306 - accuracy: 0.8601
Epoch 41/100
670/670 [==============================] - 0s 543us/step - loss: 0.3445 - accuracy: 0.8559
Epoch 42/100
670/670 [==============================] - 0s 555us/step - loss: 0.3392 - accuracy: 0.8548
Epoch 43/100
670/670 [==============================] - 0s 538us/step - loss: 0.3326 - accuracy: 0.8636
Epoch 44/100
670/670 [==============================] - ETA: 0s - loss: 0.3223 - accuracy: 0.86 - 0s 543us/step - loss: 0.3235 - accuracy: 0.8689
Epoch 45/100
670/670 [==============================] - 0s 527us/step - loss: 0.3261 - accuracy: 0.8627
Epoch 46/100
670/670 [==============================] - 0s 563us/step - loss: 0.3370 - accuracy: 0.8587
Epoch 47/100
670/670 [==============================] - 0s 551us/step - loss: 0.3297 - accuracy: 0.8640
Epoch 48/100
670/670 [==============================] - 0s 539us/step - loss: 0.3309 - accuracy: 0.86060s - loss: 0.3309 - accura
Epoch 49/100
670/670 [==============================] - 0s 704us/step - loss: 0.3298 - accuracy: 0.8640
Epoch 50/100
670/670 [==============================] - 0s 599us/step - loss: 0.3281 - accuracy: 0.8673
Epoch 51/100
670/670 [==============================] - 0s 695us/step - loss: 0.3445 - accuracy: 0.8577
Epoch 52/100
670/670 [==============================] - 0s 603us/step - loss: 0.3248 - accuracy: 0.8679
Epoch 53/100
670/670 [==============================] - 0s 543us/step - loss: 0.3401 - accuracy: 0.8584
Epoch 54/100
670/670 [==============================] - 0s 515us/step - loss: 0.3341 - accuracy: 0.8625
Epoch 55/100
670/670 [==============================] - 0s 535us/step - loss: 0.3389 - accuracy: 0.8557
Epoch 56/100
670/670 [==============================] - 0s 544us/step - loss: 0.3339 - accuracy: 0.8614
Epoch 57/100
670/670 [==============================] - 0s 540us/step - loss: 0.3248 - accuracy: 0.8668
Epoch 58/100
670/670 [==============================] - 0s 527us/step - loss: 0.3322 - accuracy: 0.8649
Epoch 59/100
670/670 [==============================] - 0s 563us/step - loss: 0.3330 - accuracy: 0.8588
Epoch 60/100
670/670 [==============================] - 0s 580us/step - loss: 0.3316 - accuracy: 0.8624
Epoch 61/100
670/670 [==============================] - 0s 645us/step - loss: 0.3256 - accuracy: 0.8638
Epoch 62/100
670/670 [==============================] - 0s 542us/step - loss: 0.3291 - accuracy: 0.8628
Epoch 63/100
670/670 [==============================] - 0s 561us/step - loss: 0.3357 - accuracy: 0.8593
Epoch 64/100
670/670 [==============================] - 0s 551us/step - loss: 0.3281 - accuracy: 0.8655
Epoch 65/100
670/670 [==============================] - 0s 666us/step - loss: 0.3316 - accuracy: 0.8613
Epoch 66/100
670/670 [==============================] - 0s 568us/step - loss: 0.3190 - accuracy: 0.8727
Epoch 67/100
670/670 [==============================] - 0s 582us/step - loss: 0.3388 - accuracy: 0.8615
Epoch 68/100
670/670 [==============================] - 0s 573us/step - loss: 0.3360 - accuracy: 0.8586
Epoch 69/100
670/670 [==============================] - 0s 622us/step - loss: 0.3320 - accuracy: 0.8623
Epoch 70/100
670/670 [==============================] - 0s 604us/step - loss: 0.3344 - accuracy: 0.8621
Epoch 71/100
670/670 [==============================] - 0s 635us/step - loss: 0.3291 - accuracy: 0.8630
Epoch 72/100
670/670 [==============================] - 0s 541us/step - loss: 0.3279 - accuracy: 0.8642
Epoch 73/100
670/670 [==============================] - 0s 527us/step - loss: 0.3346 - accuracy: 0.8577
Epoch 74/100
670/670 [==============================] - 0s 553us/step - loss: 0.3329 - accuracy: 0.8615
Epoch 75/100
670/670 [==============================] - 0s 584us/step - loss: 0.3310 - accuracy: 0.8656
Epoch 76/100
670/670 [==============================] - 0s 552us/step - loss: 0.3315 - accuracy: 0.8615
Epoch 77/100
670/670 [==============================] - 0s 588us/step - loss: 0.3314 - accuracy: 0.8615
Epoch 78/100
670/670 [==============================] - 0s 590us/step - loss: 0.3299 - accuracy: 0.8586

Epoch 79/100
670/670 [==============================] - 0s 553us/step - loss: 0.3269 - accuracy: 0.8628
Epoch 80/100
670/670 [==============================] - 0s 614us/step - loss: 0.3270 - accuracy: 0.8630
Epoch 81/100
670/670 [==============================] - 0s 563us/step - loss: 0.3327 - accuracy: 0.85910s - loss: 0.3338 - accuracy
Epoch 82/100
670/670 [==============================] - 0s 504us/step - loss: 0.3312 - accuracy: 0.8666
Epoch 83/100
670/670 [==============================] - 0s 531us/step - loss: 0.3484 - accuracy: 0.8613
Epoch 84/100
670/670 [==============================] - 0s 498us/step - loss: 0.3191 - accuracy: 0.8681
Epoch 85/100
670/670 [==============================] - 0s 504us/step - loss: 0.3235 - accuracy: 0.8663
Epoch 86/100
670/670 [==============================] - 0s 520us/step - loss: 0.3467 - accuracy: 0.8535
Epoch 87/100
670/670 [==============================] - 0s 526us/step - loss: 0.3208 - accuracy: 0.8702
Epoch 88/100
670/670 [==============================] - 0s 515us/step - loss: 0.3276 - accuracy: 0.8634
Epoch 89/100
670/670 [==============================] - 0s 542us/step - loss: 0.3294 - accuracy: 0.8617
Epoch 90/100
670/670 [==============================] - 0s 504us/step - loss: 0.3298 - accuracy: 0.8602
Epoch 91/100
670/670 [==============================] - 0s 506us/step - loss: 0.3427 - accuracy: 0.8567
Epoch 92/100
670/670 [==============================] - 0s 506us/step - loss: 0.3204 - accuracy: 0.8664
Epoch 93/100
670/670 [==============================] - 0s 504us/step - loss: 0.3190 - accuracy: 0.8632
Epoch 94/100
670/670 [==============================] - 0s 514us/step - loss: 0.3333 - accuracy: 0.8580
Epoch 95/100
670/670 [==============================] - 0s 520us/step - loss: 0.3396 - accuracy: 0.8598
Epoch 96/100
670/670 [==============================] - 0s 551us/step - loss: 0.3351 - accuracy: 0.8612
Epoch 97/100
670/670 [==============================] - 0s 543us/step - loss: 0.3338 - accuracy: 0.8642
Epoch 98/100
670/670 [==============================] - 0s 516us/step - loss: 0.3308 - accuracy: 0.8604
Epoch 99/100
670/670 [==============================] - 0s 538us/step - loss: 0.3235 - accuracy: 0.8659
Epoch 100/100
670/670 [==============================] - ETA: 0s - loss: 0.3352 - accuracy: 0.85 - 0s 565us/step - loss: 0.3346 - accuracy: 0.8595

In [25]:
y_pred = ann.predict(X_test)
y_pred = y_pred > 0.5

In [26]:
from sklearn.metrics import confusion_matrix,accuracy_score

In [27]:
print(confusion_matrix(y_test,y_pred))

[[2520  137]
 [ 319  324]]

In [28]:
accuracy_score(y_test,y_pred)

0.8618181818181818